.layoutContainer {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.header {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 24px;
  background-color: #fff;

  .headerRight {
    display: flex;
    align-items: center;
    cursor: pointer;

    .action {
      padding: 0 12px;
      display: flex;
      align-items: center;
      transition: all 0.3s;
      height: 64px;

      &:hover {
        background: rgba(0, 0, 0, 0.025);
      }
    }
  }
}

.collapseButton {
  font-size: 16px;
  width: 64px;
  height: 64px;
}

.content {
  padding: 24px;
  min-height: 280px;
  background: #f0f2f5;
  overflow: auto;
}
